<!DOCTYPE html>
<html>

<head>
    <!--        Librerias de Estilos-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
    <!--    Angular-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <!--    Modulos de Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.min.js"></script>




    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-autofields/2.2.2/autofields.min.js"></script>
    <script type="text/javascript" src="../angular-autoFields-bootstrap/autofields-bootstrap.min.js"></script>
    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>

    <!--    APLICACION-->

    <script type="application/javascript">
        var nombreTabla = 'Persons'
        angular.module('app', ['autofields', 'ngResource', 'ui.bootstrap', 'toastr'])
            .factory('Factory', ['$resource', function ($resource) {

                //CAMBIAR EL NOMBRE DE LA TABLA AQUI en este caso la tabla es
                //Persons, y el id que debemos de poner es idPersons y el nombre del url es Persons
                var factory = $resource(
                    'http://localhost:1337/'+nombreTabla+'/:id', {
                        id: '@id'
                    }, {
                        update: {
                            method: 'PUT',
                            params: {
                                idEntrenador: '@id'
                            }

                        }
                    });

                return factory;

            }])
            .controller('Controlador', ['$scope', 'Factory', 'toastr', function ($scope, Factory, toastr) {

                //Objeto para un nuevo registro de la tabla en este caso PERSONS
                $scope.nombreTabla = nombreTabla;
                
                $scope.nuevoRegistro = {
                    LastName: '',
                    FirstName: '',
                    Address: '',
                    City: ''
                };
                
                $scope.clearRegistro = $scope.nuevoRegistro;
            
                $scope.registros = [];

                //Definir los campos para el form

                $scope.schema = [
                    {
                        property: 'FirstName',
                        type: 'text',
                        attr: {
                            ngMinlength: 4,
                            ngMaxlength: 25,
                            required: true
                        },
                        msgs: {
                            minlength: 'Necesita tener por lo menos 4 caracteres',
                            maxlength: 'Necesita tener menos de 25 caracteres'
                        }
                    }, {
                        property: 'LastName',
                        type: 'text',
                        attr: {
                            ngMinlength: 5,
                            ngMaxlength: 45,
                            required: true
                        },
                        msgs: {
                            minlength: 'Necesita tener por lo menos 5 caracteres',
                            maxlength: 'Necesita tener menos de 45 caracteres'
                        }
                    },
                    {
                        property: 'Address',
                        type: 'text',
                        attr: {
                            ngMinlength: 15,
                            ngMaxlength: 55,
                            required: true
                        },
                        msgs: {
                            minlength: 'Necesita tener por lo menos 15 caracteres',
                            maxlength: 'Necesita tener menos de 55 caracteres'
                        }
                    },
                    {
                        property: 'City',
                        type: 'text',
                        attr: {
                            ngMinlength: 15,
                            ngMaxlength: 55,
                            required: true
                        },
                        msgs: {
                            minlength: 'Necesita tener por lo menos 15 caracteres',
                            maxlength: 'Necesita tener menos de 55 caracteres'
                        }
                    }
    ];

                $scope.schema2 = [
                    {
                        property: 'FirstName',
                        type: 'text',
                        attr: {
                            ngMinlength: 4,
                            ngMaxlength: 25,
                            required: true
                        },
                        msgs: {
                            minlength: 'Necesita tener por lo menos 4 caracteres',
                            maxlength: 'Necesita tener menos de 25 caracteres'
                        }
                    }, {
                        property: 'LastName',
                        type: 'text',
                        attr: {
                            ngMinlength: 5,
                            ngMaxlength: 45,
                            required: true
                        },
                        msgs: {
                            minlength: 'Necesita tener por lo menos 5 caracteres',
                            maxlength: 'Necesita tener menos de 45 caracteres'
                        }
                    },
                    {
                        property: 'Address',
                        type: 'text',
                        attr: {
                            ngMinlength: 15,
                            ngMaxlength: 55,
                            required: true
                        },
                        msgs: {
                            minlength: 'Necesita tener por lo menos 15 caracteres',
                            maxlength: 'Necesita tener menos de 55 caracteres'
                        }
                    },
                    {
                        property: 'City',
                        type: 'text',
                        attr: {
                            ngMinlength: 15,
                            ngMaxlength: 55,
                            required: true
                        },
                        msgs: {
                            minlength: 'Necesita tener por lo menos 15 caracteres',
                            maxlength: 'Necesita tener menos de 55 caracteres'
                        }
                    }
    ];

                $scope.guardarRegistro = function () {

                    Factory
                        .save($scope.nuevoRegistro)
                        .$promise
                        .then(
                            function (respuesta) {
                                $scope.registros.push(respuesta);
                                toastr.info('Registros', 'Se creo un nuevo registro');
                                
                                $scope.joinForm.$setPristine();
                            },
                            function (error) {
                                toastr.info('Error', 'Revisa tu conexion a internet');
                            })

                };

                $scope.cargarRegistros = function () {
                    Factory
                        .query()
                        .$promise
                        .then(
                            function (respuesta) {
                                toastr.info('Registros', 'Se cargaron: ' + respuesta.length + ' registros');
                                $scope.registros = respuesta;
                                $scope.nuevoRegistro = $scope.clearRegistro;
                            },
                            function (error) {
                                toastr.info('Error', 'Revisa tu conexion a internet');
                            })

                };

                $scope.editarRegistro = function (registro) {

                    var identificador = {
                        id: registro.Persons_ID
                    };

                    delete registro.Persons_ID

                    Factory
                        .update(
                            identificador,
                            registro)
                        .$promise
                        .then(
                            function (respuesta) {
                                toastr.info('Registros', 'Se actualizo un nuevo registro');
                                $scope.cargarRegistros();
                                
                            },
                            function (error) {
                                toastr.info('Error', 'Revisa tu conexion a internet');
                            })
                };

                $scope.crearRegistroAntiguo = function (registro) {
                    return registro;
                }
                $scope.cargarRegistros();

            }]);
    </script>

</head>

<body ng-app="app" ng-controller="Controlador" class="container">

    <div class="row">
        <div class="col-sm-4">

            <h1>Tabla {{nombreTabla}}</h1>
            <p>Llene los Datos de la tabla.</p>
            <form name="joinForm" ng-submit="guardarRegistro()">
                <auto:fields fields="schema" data="nuevoRegistro"></auto:fields>
                <button ng-disabled="!joinForm.$valid" type="submit" class="btn btn-success btn-lg btn-block" ng-class="{'btn-primary':joinForm.$valid}">Guardar</button>
            </form>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <div ng-repeat="registro in registros">
                <h2>Registro: {{$index}}</h2>
                <form name="joinForm" ng-submit="editarRegistro(registro)">
                    <auto:fields fields="schema2" data="registro"></auto:fields>
                    <button ng-disabled="!joinForm.$valid" type="submit" class="btn btn-info btn-block" ng-class="{'btn-primary':joinForm.$valid}">Editar</button>
                </form>
                <br>
                <button class="btn btn-danger btn-block" ng-click="borrarRegistro()">Eliminar</button>
            </div>

        </div>
    </div>



</body>

</html>